* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1600px;
}

#banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/Banner_Image.png");
  height: 600px;
  width: 80%;
  border-radius: 16px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#banner h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#banner h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}

/* off65 section  */
#off65 {
  width: 50%;
  margin: auto;
}

#off65 h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
#off65 h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
#off65 h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#off65 img {
  width: 100%;
  margin-bottom: 120px;
}

/* midnight-party section  */
#midnight-party {
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./resources/Vectorrr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}

.container-midnight {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.left-midnight {
}
.right-midnight {
  display: flex;
  align-items: center;
  height: 100%;
}

#midnight-party h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
#midnight-party h4 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
#midnight-party h3 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.right-midnight img {
  width: 100%;
  max-width: 320px;
  max-height: 460px;
}

#date-time {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 600px;
  width: 80%;
  border-radius: 16px;
  margin: auto;
  text-align: center;
}
#date-time h2 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
#date-time h2 span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.container-date-time {
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* join now button style  */
#date-time button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-top: 48px;
}
#holiday-sale {
  text-align: center;
}
#holiday-sale h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#holiday-sale h1 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 28px;
}
#holiday-sale span {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

/* best gifts */
#best-gifts {
  max-width: 80%;
  margin: auto;
  margin-top: 120px;
}
/* 
#best-gifts .left-div{

} */

#best-gifts h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#best-gifts h1 {
  margin-top: 16px;
  margin-bottom: 22px;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
/* grid work */
#grid-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
#grid-div img {
  width: 100%;
}
#best-gifts p {
  margin-bottom: 48px;
}
#Newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 616px;

  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#Newsletter img {
  width: 150px;
}
#Newsletter h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;

  margin-top: 40px;
  margin-bottom: 22px;
}
#Newsletter p {
  margin-bottom: 48px;
}
#Newsletter input {
  width: 438px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px 0 0 50px;
  background: #fff;
  border: none;
  padding: 0px 30px;
}
#Newsletter button {
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
#footer {
  height: 609px;
  background-color: #070211;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .inside-div {
  width: 80%;
  height: 80%;
}

#footer .div1 {
  width: 100%;
  height: 33%;

}
#footer .div2 {
  width: 100%;
  height: 33%;
  border-top: 1px rgba(255, 255, 255, 0.15) solid
  ;
  border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
}
#footer .div3 {
  width: 100%;
  height: 33%;
}
#footer .inside-div .div1 , .div1 h2{
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
}


#footer .inside-div .div2 {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
#footer .inside-div .div2 img {
  height: 64px;
  width: 64px;
}
#footer .inside-div .div3 .left,
.right {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#footer .inside-div .div3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#footer .inside-div .div1 .text-icon {
  display: flex;
  gap: 16px;
}
#footer .inside-div .div1 .img {
  height: 24px;
  width: 24px;
}
#bonus .coming-soon {
  border: 3px solid yellow;
  height: 463px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  
}

#bonus .coming-soon .div1 , .div2 , .div3 {
  border: 3px solid goldenrod;
}
#bonus .coming-soon  .div2 img {
  height: 364px;
  width: 364px;
  margin: auto;
  border: 15px solid red;
  border-radius: 100%;
  padding: 34px;
} 



