* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1600px;
}

#banner {
  background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Banner_Image.png");
  height: 600px;
  width: 80%;
  border-radius: 16px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#banner h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#banner h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}

/* off65 section  */
#off65{
    
    width: 50%;
    margin: auto;
}

#off65 h1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 48px;
}
#off65 h3{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 16px;
    
}
#off65 h2 {
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#off65 img {
    width: 100%;
    margin-bottom: 120px;
}

/* midnight-party section  */
#midnight-party {
   
    width: 1320px;
height: 600px;
 
  border-radius: 16px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: url("./resources/Vectorrr.png");
 
flex-shrink: 0;
}

#midnight-party h1 {
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;

}
#midnight-party h4 {
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
#midnight-party h3 {
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}





